.form-container{
    background-color: black;
    width: 35rem;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

.form-container h1{
    text-align: center;
    color: white;
}

.form-container form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-container form input{
    outline: none;
    border: unset;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 5px;
}

.form-container form input[type="submit"]{
    background-color: green;
    color: white;
    cursor: pointer;
}